{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte Interactive pour {{ commune.libgeo }}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
            .inline-links a {
                display: inline-block;
                margin-right: 15px;
                text-decoration: underline;
            }

            .flex-links {
                display: flex;
                gap: 15px;
            }
    </style>
</head>
<body>
    <h1>Carte Interactive pour {{ commune.libgeo }}</h1>
    <div class="inline-links">
        <a href="{% url 'visualisation:search_view' %}">Revenir à la recherche</a>
        <a href="{% url 'visualisation:select_data' commune.id %}">Revenir à la sélection des données</a>       
        <a href="{% url 'visualisation:population_pie_chart' commune.id %}">Voir la répartition de la population par âge</a>

    </div>
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script>
        var map = L.map('map').setView([{{ commune.latitude_centre }}, {{ commune.longitude_centre }}], 12);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
	L.control.scale({
    position: 'bottomleft',  // Position de l'échelle (bottomleft, bottomright, topleft, topright)
    imperial: false,         // Désactive les miles (système impérial)
    metric: true             // Active le système métrique (kilomètres)
}).addTo(map);

        // Ajouter le popup avec les données sélectionnées
        var popupContent = `{{ popup_content|safe }}`;
        var marker = L.marker([{{ commune.latitude_centre }}, {{ commune.longitude_centre }}]).addTo(map);
        marker.bindPopup(popupContent).openPopup();
	
	// ajouter aéroports
        {% if aeroports_data %}
            {% for aeroport in aeroports_data %}
                L.marker([{{ aeroport.latitude_aeroport }}, {{ aeroport.longitude_aeroport }}], {icon: L.icon({iconUrl: "{% static 'images/airport.png' %}", iconSize: [40, 40]})})
                .addTo(map)
		.bindPopup("<b>{{ aeroport.nom }}</b><br>OACI: {{ aeroport.code_oaci|default:'N/A' }}<br>IATA: {{ aeroport.code_iata|default:'N/A' }}").openPopup();
            {% endfor %}
        {% endif %}

	{% if centrales_data %}
            {% for centrale in centrales_data %}
                L.marker([{{ centrale.latitude_centrale }}, {{ centrale.longitude_centrale }}], {icon: L.icon({iconUrl: "{% static 'images/nuclear.png' %}", iconSize: [40, 40]})})
                .addTo(map)
		.bindPopup("<b>{{ centrale.nom }}</b><br>Combustible :{{ centrale.combustible }}<br>Sous filière :{{ centrale.sous_filiere }}<br>Puissance : {{ centrale.puissance_installee }} MW<br>Réserve secondaire : {{ centrale.reserve_secondaire }} MW<br>Date de mise en service :{{ centrale.date_mise_en_service }}").openPopup();
            {% endfor %}
        {% endif %}
	var hopitaux_data = {{ hopitaux_data|safe }};
	console.log("Hôpitaux récupérés :", hopitaux_data);
	var hospitalIcon = L.icon({
    iconUrl: '/static/images/hospital.png',
    iconSize: [25, 25]
});
	hopitaux_data.forEach(function(hopital) {
    	var marker = L.marker([hopital.latitude_hopital, hopital.longitude_hopital], {icon: hospitalIcon})
        .addTo(map)
        .bindPopup("<b>" + hopital.nom + "</b>");
});
	// Ajouter les écoles sur la carte
        var ecoles_data = {{ ecoles_data | safe }}; 
	var ecoleIcon = L.icon({
    iconUrl: '/static/images/school.png',
    iconSize: [25, 25]
});

        ecoles_data.forEach(function(ecole) { var marker = L.marker([ecole.latitude_ecole, ecole.longitude_ecole], {icon: ecoleIcon})
        .addTo(map)
        .bindPopup("<b>" + ecole.nom + "</b><br>Secteur : " + (ecole.secteur || 'Non défini') + "</br>").openPopup();            
       });
    </script>
    
</body>
</html>
