<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Ville</title>
</head>
<body>
    <h1>Recherche de Ville</h1>
    <form method="get">
        <input type="text" name="query" placeholder="Entrez une ville" value="{{ query }}">
        <button type="submit">Rechercher</button>
    </form>

    {% if communes %}
        <h2>Résultats :</h2>
        <ul>
            {% for commune in communes %}
                <li>
                    <a href="{% url 'visualisation:select_data' commune.id %}">{{ commune.libgeo }} ({{ commune.codgeo }})</a>
                </li>
            {% endfor %}
        </ul>
    {% elif query %}
        <p>Aucune ville trouvée pour "{{ query }}"</p>
    {% endif %}
</body>
</html>
